@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Student

<h2>Student Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Date Enrolled: @Html.DisplayFor(model => model.DateEnrolled)</h3>

@if (Model.JoinEntities.Count == 0)
{
  <p>This student has not been assigned to any courses yet.</p>
}
else
{
  <h4>This student has been enrolled in the following courses:</h4>
  <ul>
    @foreach (CourseStudent join in Model.JoinEntities)
    {
      <li>@join.Course.Title</li>
      <li>@join.Course.CourseNumber</li>
      @using (Html.BeginForm("DeleteJoin", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete">
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to student list", "Index")</p>
<p>@Html.ActionLink("Edit student", "Edit")</p>
<p>@Html.ActionLink("Delete student", "Delete")</p>
<p>@Html.ActionLink("Enroll student in a course", "AddCourse")</p>